/* -- CSS Coment syntax -- */

/* -- TOP LEFT TITLE -- */
.title {
	position:fixed;
}

/* -- SIDEBAR -- */
.sidenav {
	height: 100%;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	background-image: url("images/general/BG_Banner.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	overflow: auto;
}
.sidenav a {
	text-align: center;
	line-height: 20px;
	margin-left : 0px;
	color: black;
}
.sidenav button {
	border: 3px solid transparent;
	padding: 6px 10px;
	text-align: center;
	width: 93%;
	margin-left: 8px;
	background-color: transparent;
	background-image: url("images/general/Button_Norm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.sidenav button:hover {
	background-image: url("images/general/Button_Hovered.jpg");
}

/* -- PAGES -- */
.main {
	margin: auto;
	padding-left: 230px;
	max-width: 800px;
}

.main2 {
	margin: auto;
	padding-left: 230px;
	max-width: 910px;
}

.page {
	width: 820px;
	height: 1100px;
	/*border: 1px solid black;*/
	margin-top: 125px;
}

.main_page {
	width: 820px;
	height: 200px;
	margin-top: 125px;
}

.page_inner_halfw {
	float: left;
	width: 42%;
	height: 1050px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

.page_inner_halfh {
	float: left;
	width: 89%;
	height: 525px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

.page_inner_halfhw {
	float: left;
	width: 42%;
	height: 525px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

.page_inner_full {
	float: left;
	width: 89%;
	height: 1050px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

/* -- OTHER DETAILS -- */
p, i {
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
}

table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	width: 320px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	margin: auto;
}

.box {
	float: left;
	width: 8px;
	height: 8px;
	margin: 2px;
	border: 1px solid black;
}


/* -- RULEBOOK -- */
.rulebook {
	padding-left: 230px;
	max-width: 800px;
    background-image: url('images/rulebook/page-background.png');
    background-repeat:no-repeat;
    background-size: contain;
}
.bookpage-background {
    position: relative;
}
.bookpage {
    height: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 22px;
}
.bookpage h1 {
    padding-top: 105px;
	font-size: 32px;
    text-align: center
}
.bookpage-columns {
    display: flex;
}
.bookpage-column {
    flex: 50%;
    padding-right:40px;
}
.caption {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
    font-style: italic;
}
