/* -- CSS Coment syntax -- */

/* -- TOP LEFT TITLE -- */
.title {
	position:fixed;
}

/* -- SIDEBAR -- */
.nav {
	height: 100%;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	background-image: url("images/general/BG_Banner.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	overflow: auto;
}
.nav button:hover {
	background-image: url("images/general/Button_Hovered.jpg");
}
.homemenu {
    color:white;
    margin-left:5px;
    margin-bottom:0px;
	width:208px;
}
.menu {
	border: 3px solid transparent;
	text-align: center;
	width: 93%;
	padding: 6px 10px;
	text-align: center;
    font-weight: bold;
	margin-left: 8px;
	background-color: transparent;
	background-image: url("images/general/Button_Norm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.submenu {
	margin-left: 28px;
	width: 80%;
}
.picked {
    background-image:url("images/general/Button_Picked.jpg");
}

/* -- PAGES -- */
.main {
	margin: auto;
	padding-left: 230px;
	max-width: 800px;
}

.main2 {
	margin: auto;
	padding-left: 230px;
	max-width: 910px;
}

.page {
	width: 820px;
	height: 1100px;
	/*border: 1px solid black;*/
	margin-top: 125px;
}

.main_page {
	width: 820px;
	height: 200px;
	margin-top: 125px;
}

.page_inner_halfw {
	float: left;
	width: 42%;
	height: 1050px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

.page_inner_halfh {
	float: left;
	width: 89%;
	height: 525px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

.page_inner_halfhw {
	float: left;
	width: 42%;
	height: 525px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

.page_inner_full {
	float: left;
	width: 89%;
	height: 1050px;
	/*border: 1px solid black;*/
	margin-left: 40px;
}

/* -- OTHER DETAILS -- */
p, i, li, th, tr, td {
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
}

table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
	width: 320px;
	text-align: center;
	margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.box {
	float: left;
	width: 8px;
	height: 8px;
	margin: 2px;
	border: 1px solid black;
}

/* -- MAIN PAGES -- */
.nav { grid-area: nav; }
.content { grid-area: main; }

.page-container {
  display: grid;
  grid-template-areas: 'nav main';
  grid-template-columns: 230px 1fr;
  grid-gap: 10px;
  padding: 10px;
  /*
  background-color: #2196F3;
  */
}
/*
.page-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/

/* -- BOOK PAGE -- */
.bookpage {
	max-width: 800px;
    margin-left: 100px;
    padding-left: 20px;
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
    background-image: url('images/rulebook/page-background.png');
    background-repeat:no-repeat;
    background-size: 800px 1000px;
}
.bookpage table, th, tr, td {
    width: 100%;
	margin: auto;
    table-layout: fixed;
}
.bookpage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.bookpage h1 {
    padding-top: 25px;
	font-size: 24px;
    text-align: center
}
.bookpage h2 {
	font-size: 18px;
    text-align: center
}
.bookpage h3 {
	font-size: 14px;
    padding: 0px;
    margin: 0px;
}
.bookpage h4 {
	font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.bookpage-background {
    position: relative;
}
.bookpage-columns {
    display: flex;
    align-items: flex-end;
    min-height: 950px;
}
.bookpage-column {
    flex: 50%;
    padding-right:40px;
    align-self:stretch;
}
.caption {
    font-style: italic;
}

/* TABLE - skills specific */
table.skills {
    width: 100%;
	margin: auto;
    table-layout: fixed;
    margin-top: 20px;
}
table.skills tr:nth-child(even) {
    background-color: #F3ECD5;
}
table.skills tr:nth-child(odd) {
    background-color: #E7E0CA;
}
table.skills tr:first-child {
    background-color: #C4BBA0;
}
table.skills td:first-child {
    width: 120px;
}
